/* add css styles here (optional) */

.paneGroup {
  height: 100%;
  box-sizing: border-box;
}

.paneGroup::after {
  content: "";
  display: block;
  clear: both;
}

.pane, .divider, .spacer {
  float: left;
}

.pane {
  box-sizing: border-box;
  background-color: #dedede;
}

.divider {
  background: #777;
  cursor: ew-resize;
}

.spacer {
  background: #dedede;
}
