/* add css styles here (optional) */

.paneGroup {
  height: 100%;
  box-sizing: border-box;
}

.paneGroup::after {
  content: "";
  display: block;
  clear: both;
}

.pane, .divider, .spacer {
  float: left;
}

.pane {
  box-sizing: border-box;
  background-color: #fefefe;
}

.spacer {
  background: #fefefe;
}

.divider {
  position: relative;
}

.rowHandler,
.colHandler {
  position: absolute;
  background: #a7a7a7;
  width: 100%;
  height: 100%;
}

.rowHandler {
  cursor: ew-resize;
}

.colHandler {
  cursor: ns-resize;
}
